.headerPrincipal {
    background-color: #2C3639;
    text-align: center;
    justify-content: center;
    font-family:'Nunito', sans-serif;
    font-weight: bolder;
    
}

.headerPaginas {
    background-color: #A27B5C;
    height:50px;
    padding-top: 10px;
}

.navegadorPrincipal {
    padding-top: 40px;
}

h2 {
    font-size: 32px;
    font-weight: bolder;
}

a {
    color: aliceblue;
}


.body {
    background: linear-gradient(to bottom, #DCD7C9,#A27B5C );
    font-family: 'Oswald', sans-serif;
    padding: 0;
}
.tituloPrincipal {
    font-size: 64px;
    color: aliceblue;
    font-weight: lighter;
}

.tituloPaginas {
    font-size: 64px;
    background-color: #2C3639;
    color: aliceblue;
    height: 100px;

}



.contenedorFooter {
    height: 200px;
    background-color: #2C3639;
    color: aliceblue;
    text-align: center;
    justify-content: center;
    justify-items: center;
    font-family:'Nunito', sans-serif;
    font-size: 32px;
}   
    
   
 
